# Copyright (c) 2026 Nishant Sinha
#
# Licensed under the MIT License. See LICENSE.txt in the project
# root for full license information.
#
# END COPYRIGHT

{
    # This file is NOT an agent network HOCON.
    # It defines a set of key-value pairs for substitution, typically used in agent network HOCON files.
    # Each key can be referenced in agent configs using the ${key} syntax.
    # Do not define agents or tools directly here—this file only provides reusable values.

    # Similar to the default developer config, except that when we encounter rate limiting from
    # one of the providers, we will immediately use the next one in the list without retrying in an
    # attempt to get better response times.  The idea is to spread the load across providers
    # during busy times.
    #
    # To most easily use this config, copy it over this directory's llm_config.hocon file. 
    "llm_config": {
        "fallbacks": [
            {
                # Try OpenAI first
                "class": "openai",
                "model_name": "gpt-5.2",
                "max_retries": 0,
            },
            {
                # Fall back to Anthropic Claude if OpenAI is unavailable.
                # Let nora-fleet figure out the latest version of the model
                "model_name": "claude-sonnet",
                "max_retries": 0,
            },
            {
                # Fall back to Google Gemini if both OpenAI and Anthropic are unavailable.
                # Let nora-fleet figure out the latest version of the model
                "model_name": "gemini-3-flash",
                "max_retries": 0,
            },
            # Try the same round-robin again, but this time with retries.
            {
                # Try OpenAI first
                "class": "openai",
                "model_name": "gpt-5.2",
                "max_retries": 1,
            },
            {
                # Fall back to Anthropic Claude if OpenAI is unavailable.
                # Let nora-fleet figure out the latest version of the model
                "model_name": "claude-sonnet",
                "max_retries": 1,
            },
            {
                # Fall back to Google Gemini if both OpenAI and Anthropic are unavailable.
                # Let nora-fleet figure out the latest version of the model
                "model_name": "gemini-3-flash",
                "max_retries": 1,
            }
        ]
    }
}
